body {
    position:relative;
}

.btns {
    margin: 300px;
}

button {
    padding: 12px 18px;
    background-color: #cc543a;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: 'Sitka Display', NSimSun, 'sans-serif';
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 1pt rgb(77, 77, 77);
}


footer {
    height: 70px;
    background-color: #cc543a;
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0;
}
